html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
}

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer;
}

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto;
}

select::ms-expand {
  display: none;
}

input::-ms-clear {
  display: none;
}

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/RobotoBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto/Roboto-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

:root {
  --grey: #e6e6e6;
  --grey-dark: #808080;
  --grey-darken: #4d4d4d;
  --grey-light: #f7f7f7;
  --black: #1a1a1a;
  --border-color: #e6e6e6;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: 16px;
}

body {
  background-color: #fff;
  color: var(--grey-dark);
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

h1,
.h1 {
  font-size: 36px;
}

h2,
.h2 {
  font-size: 30px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5, .h5 {
  font-size: 18px;
}

p {
  line-height: 1.3;
}

b,
strong {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.black {
  color: var(--black);
}

.grey {
  color: var(--grey);
}

.grey-light {
  color: var(--grey-light);
}

.grey-dark {
  color: var(--grey-dark);
}

.grey-darken {
  color: var(--grey-darken);
}

b {
  font-weight: 700;
}

.wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.container {
  padding: 0 15px;
  width: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mb-1 {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.mt-1 {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 10px;
}

.p-2 {
  padding: 20px;
}

.p-3 {
  padding: 30px;
}

.pt-1 {
  padding-top: 10px;
}

.fz-12 {
  font-size: 12px;
}

.text-right {
  text-align: right;
}

.text-underline {
  text-decoration: underline;
}

.border {
  border: 1px solid var(--border-color);
}

.border-radius {
  border-radius: 15px;
}

.border-circle {
  border-radius: 50%;
}

.border-bottom-dasshed {
  border-bottom: 2px dashed var(--border-color);
}

.border-bottom {
  border-bottom: 1px solid var(--border-color);
}

.border-top {
  border-top: 1px solid var(--border-color);
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: var(--grey-light);
}

/*Header*/
.header {
  padding: 15px 0;
}

.id-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.id-block__item {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  border: 2px solid var(--grey);
}

.id-block__item:not(:last-child) {
  margin-right: 10px;
}

.block--two-column > .block__item {
  width: calc(50% - 10px);
}

.block__item__top {
  border-bottom: 1px solid var(--grey);
}

.warning {
  border-radius: 15px;
  border: 2px dashed var(--grey-dark);
  padding: 10px;
}

.warning .icon {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.warning .icon img {
  width: 100%;
}

.result-block__item {
  white-space: nowrap;
}

.result-block__item:not(:last-child) {
  margin-right: 10px;
}

.result-block__item--circle {
  width: 90px;
  height: 90px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-block__item--tags {
  width: 50%;
}

.tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5px;
}

.tags-list li {
  color: var(--grey-darken);
  font-size: 14px;
  background: var(--grey);
  padding: 3px 5px;
  line-height: 1;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.transactions-block__data {
  width: calc(65% - 20px);
}

.transactions-block__options {
  width: 35%;
}

.transactions-block__options__item:not(:last-child) {
  margin-bottom: 20px;
}

.check-list li {
  margin-bottom: 10px;
}

.check-list--wrap li:not(:last-child) {
  margin-right: 1em;
}

.icon-info {
  width: 25px;
  height: 25px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 50%;
  border: 1px solid var(--black);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon-info img {
  width: 15px;
  height: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.linear-graph-wrapper {
  position: relative;
  height: 70px;
  width: 100%;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
}

.linear-graph-wrapper .tip {
  position: absolute;
  bottom: calc(100% + 10px);
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  color: var(--black);
  background-color: var(--grey);
  line-height: 1;
  z-index: 10;
}

.linear-graph-wrapper .tip::after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--grey);
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.linear-graph__item {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.linear-graph__item.severe {
  background-color: var(--black);
  z-index: 5;
}

.linear-graph__item.high {
  background-color: var(--grey-darken);
  z-index: 4;
}

.linear-graph__item.medium {
  background-color: var(--grey-dark);
  z-index: 3;
}

.linear-graph__item.low {
  background-color: var(--grey);
  z-index: 2;
}

.linear-graph__item.undefined {
  background-color: #fff;
}

.linear-graph__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.linear-graph__descr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-size: 18px;
  margin-bottom: 10px;
}

.linear-graph__descr li:not(:last-child) {
  margin-right: 20px;
}

.linear-graph__colour {
  width: 25px;
  height: 25px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 50%;
  margin-right: 5px;
}

.linear-graph__colour.severe {
  background-color: var(--black);
}

.linear-graph__colour.high {
  background-color: var(--grey-darken);
}

.linear-graph__colour.medium {
  background-color: var(--grey-dark);
}

.linear-graph__colour.low {
  background-color: var(--grey);
}

.linear-graph__colour.undefined {
  background-color: #fff;
  border: 1px solid var(--border-color);
}

.table {
  table-layout: fixed;
  width: 100%;
}

.table > thead {
  font-size: 18px;
}

.table > thead td:first-child {
  padding-left: 40px;
}

.table td {
  padding: 5px;
}

.table--inner tbody tr:first-child td {
  padding-top: 15px;
}

.table--inner tbody tr:last-child td {
  padding-bottom: 15px;
}

.table--inner tbody td:first-child {
  padding-left: 40px;
  position: relative;
}

.table--inner tbody td:first-child::before {
  content: "";
  width: 15px;
  height: 100%;
  position: absolute;
  left: 10px;
  top: 0;
}

.table--inner tbody tr:first-child td:first-child::before {
  border-radius: 5px 5px 0 0;
  height: calc(100% - 15px);
  top: 15px;
}

.table--inner tbody tr:last-child td:first-child::before {
  border-radius: 0 0 5px 5px;
  height: calc(100% - 12px);
}

.table--inner tfoot tr td {
  margin-top: 5px;
  background-color: var(--grey);
}

.table--inner tfoot tr td:first-child {
  padding-left: 40px;
}

.table--inner .tag {
  color: var(--grey-darken);
  font-size: 14px;
  background: var(--grey);
  padding: 3px 5px;
  line-height: 1;
  border-radius: 4px;
}

.table--inner.severe tbody td:first-child::before {
  background-color: var(--black);
}

.table--inner.high tbody td:first-child::before {
  background-color: var(--grey-darken);
}

.table--inner.medium tbody td:first-child::before {
  background-color: var(--grey-dark);
}

.table--inner.low tbody td:first-child::before {
  background-color: var(--grey);
}

.illegal-funds__left {
  width: 33%;
}

.illegal-funds__right {
  width: calc(67% - 20px);
}

.illegal-funds__status {
  border: 2px solid var(--border-color);
  border-radius: 15px;
  background-color: var(--grey-light);
}

.dial {
  border-color: var(--grey-light);
  color: var(--grey-dark);
  display: inline-block;
  text-align: left;
}

.dial p {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  color: var(--grey-dark);
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  z-index: 1;
  margin: 0;
}

.dial canvas {
  position: absolute;
}

.column-graph__top {
  padding-top: 10px;
  padding-bottom: 10px;
}

.column-graph__descr {
  font-size: 14px;
}

.column-graph__descr li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-graph__descr li:not(:last-child) {
  margin-right: 15px;
}

.column-graph__descr li::before {
  content: '';
  width: 15px;
  height: 15px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border-radius: 50%;
  margin-right: 5px;
}

.column-graph__descr li.severe::before {
  background-color: var(--black);
}

.column-graph__descr li.high::before {
  background-color: var(--grey-darken);
}

.column-graph__descr li.medium::before {
  background-color: var(--grey-dark);
}

.column-graph__descr li.low::before {
  background-color: var(--grey);
}

.column-graph__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
}

.column-graph__item__col {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #fff;
}

.column-graph__item__col.severe {
  background-color: var(--black);
}

.column-graph__item__col.high {
  background-color: var(--grey-darken);
}

.column-graph__item__col.medium {
  background-color: var(--grey-dark);
}

.column-graph__item__col.low {
  background-color: var(--grey);
}

.column-graph__wrapper {
  width: 33.333%;
}

.check-block__item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.status {
  font-size: 16px;
  text-transform: uppercase;
  padding: 15px 20px;
  background-color: var(--grey);
  color: var(--black);
  border: 2px solid var(--grey-dark);
  border-radius: 10px;
}

.toggle-block__open__btn {
  font-size: 14px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.toggle-block__open__btn::after {
  content: '\25BC';
  color: var(--black);
  font-size: 10px;
  line-height: 1;
  position: relative;
  top: 2px;
}

.toggle-block__open__btn span {
  white-space: nowrap;
  text-decoration: underline;
  margin-right: 3px;
}

.toggle-block__open__btn:hover span {
  text-decoration: none;
  color: var(--black);
}

.toggle-block.is-open .toggle-block__content {
  display: block;
}

.toggle-block.is-open .toggle-block__open__btn::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: 0;
}

.toggle-block__content {
  display: none;
}

.toggle-block__content__data__graph {
  width: 400px;
}

.toggle-block__content__data__graph img {
  max-width: 100%;
}

.data__descr__list {
  margin-top: 10px;
}

.data__descr__list li {
  margin-bottom: 5px;
}

.data__descr__list li ul {
  padding-left: 1em;
  margin-top: 5px;
}

.data__descr__list .icon {
  width: 1em;
  height: 1em;
}

.data__descr__list .icon img {
  width: 0.65em;
  height: 0.65em;
}

.open-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid var(--border-color);
  padding: 10px 30px;
  white-space: nowrap;
  border-radius: 10px;
  font-size: 18px;
}

.open-link::after {
  content: '';
  width: 1em;
  height: 1em;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  background: url("../img/link-arrow.svg") center no-repeat;
  background-size: contain;
  margin-left: 5px;
}

.open-link:hover {
  border-color: var(--black);
  color: var(--black);
}

.social {
  width: 53px;
  height: 53px;
  border: 2px solid var(--border-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.social img {
  width: 30px;
  height: 30px;
  -o-object-fit: contain;
     object-fit: contain;
}

.social:hover {
  border-color: var(--black);
}

.link-block a {
  display: inline-block;
  vertical-align: bottom;
  max-width: 380px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.link-block a:hover {
  text-decoration: none;
}

/*Footer*/
