.block {
  &--two-column {
    & > .block__item {
      width: calc(50% - 10px);
    }
  }
  &__item {
    &__top {
      border-bottom: 1px solid var(--grey);
    }
  }
}
.warning {
  border-radius: 15px;
  border: 2px dashed var(--grey-dark);
  padding: 10px;
  .icon {
    flex: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    img {
      width: 100%;
    }
  }
}
.result-block {
  &__item {
    white-space: nowrap;
    &:not(:last-child) {
      margin-right: 10px;
    }
    &--circle {
      width: 90px;
      height: 90px;
      flex: none;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    &--tags {
      width: 50%;
    }
  }
}
.tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  li {
    color: var(--grey-darken);
    font-size: 14px;
    background: var(--grey);
    padding: 3px 5px;
    line-height: 1;
    border-radius: 4px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
}
.transactions-block {
  &__data {
    width: calc(65% - 20px);
  }
  &__options {
    width: 35%;
    &__item {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}
.check-list {
  li {
    margin-bottom: 10px;
  }
  &--wrap {
    li {
      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }
}
.icon-info {
  width: 25px;
  height: 25px;
  flex: none;
  border-radius: 50%;
  border: 1px solid var(--black);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  img {
    width: 15px;
    height: 15px;
    object-fit: contain;
  }
}
.linear-graph-wrapper {
  position: relative;
  height: 70px;
  width: 100%;
  border: 1px solid var(--border-color);
  margin-bottom: 20px;
  .tip {
    position: absolute;
    bottom: calc(100% + 10px);
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    color: var(--black);
    background-color: var(--grey);
    line-height: 1;
    z-index: 10;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-color: var(--grey);
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.linear-graph__item {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  &.severe {
    background-color: var(--black);
    z-index: 5;
  }
  &.high {
    background-color: var(--grey-darken);
    z-index: 4;
  }
  &.medium {
    background-color: var(--grey-dark);
    z-index: 3;
  }
  &.low {
    background-color: var(--grey);
    z-index: 2;
  }
  &.undefined {
    background-color: #fff;
  }
}
.linear-graph__descr {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 18px;
    margin-bottom: 10px;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.linear-graph__colour {
  width: 25px;
  height: 25px;
  flex: none;
  border-radius: 50%;
  margin-right: 5px;
  &.severe {
    background-color: var(--black);
  }
  &.high {
    background-color: var(--grey-darken);
  }
  &.medium {
    background-color: var(--grey-dark);
  }
  &.low {
    background-color: var(--grey);
  }
  &.undefined {
    background-color: #fff;
    border: 1px solid var(--border-color);
  }
}
.table {
  table-layout: fixed;
  width: 100%;
  & > thead {
    font-size: 18px;
    td:first-child {
      padding-left: 40px;
    }
  }
  td {
    padding: 5px;
  }
  &--inner {
    tbody {
      tr:first-child {
        td {
          padding-top: 15px;
        }
      }
      tr:last-child {
        td {
          padding-bottom: 15px;
        }
      }
      td:first-child {
        padding-left: 40px;
        position: relative;
        &::before {
          content: "";
          width: 15px;
          height: 100%;
          position: absolute;
          left: 10px;
          top: 0;
        }
      }
      tr:first-child {
        td:first-child {
          &::before {
            border-radius: 5px 5px 0 0;
            height: calc(100% - 15px);
            top: 15px;
          }
        }
      }
      tr:last-child {
        td:first-child {
          &::before {
            border-radius: 0 0 5px 5px;
            height: calc(100% - 12px);
          }
        }
      }
    }
    tfoot {
      tr {
        td {
          margin-top: 5px;
          background-color: var(--grey);
          &:first-child {
            padding-left: 40px;
          }
        }
      }
    }
    .tag {
      color: var(--grey-darken);
      font-size: 14px;
      background: var(--grey);
      padding: 3px 5px;
      line-height: 1;
      border-radius: 4px;
    }
    &.severe {
      tbody {
        td:first-child {
          &::before {
            background-color: var(--black);
          }
        }
      }
    }
    &.high {
      tbody {
        td:first-child {
          &::before {
            background-color: var(--grey-darken);
          }
        }
      }
    }
    &.medium {
      tbody {
        td:first-child {
          &::before {
            background-color: var(--grey-dark);
          }
        }
      }
    }
    &.low {
      tbody {
        td:first-child {
          &::before {
            background-color: var(--grey);
          }
        }
      }
    }
  }
}
.illegal-funds {
  &__left {
    width: 33%;
  }
  &__right {
    width: calc(67% - 20px);
  }
  &__status {
    border: 2px solid var(--border-color);
    border-radius: 15px;
    background-color: var(--grey-light);
  }
}
.dial {
	border-color: var(--grey-light);
	color: var(--grey-dark);
	display: inline-block;
	text-align: left;
	p {
		text-align:center;
		font-weight: bold;
        font-size: 26px;
		color: var(--grey-dark);
		white-space: nowrap;
		position: relative;
		overflow: hidden;
		z-index: 1;
		margin: 0;
	}
	canvas {
		position: absolute;
	}
}

.column-graph {
    &__top {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__descr {
        font-size: 14px;
        li {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-right: 15px;
            }
            &::before {
                content: '';
                width: 15px;
                height: 15px;
                flex: none;
                border-radius: 50%;
                margin-right: 5px;
            }
            &.severe {
                &::before {
                    background-color: var(--black);
                }
            }
            &.high {
                &::before {
                    background-color: var(--grey-darken);
                }
            }
            &.medium {
                &::before {
                    background-color: var(--grey-dark);
                }
            }
            &.low {
                &::before {
                    background-color: var(--grey);
                }
            }
        }
    }
    &__item {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        height: 200px;
        &__col {
            flex: none;
            width: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            font-size: 14px;
            color: #fff;
            &.severe {
                background-color: var(--black);
            }
            &.high {
                background-color: var(--grey-darken);
            }
            &.medium {
                background-color: var(--grey-dark);
            }
            &.low {
                background-color: var(--grey);
            }
        }
    }
    &__wrapper {
        width: 33.333%;
    }
}
.check-block {
    &__item {
        flex-grow: 1;
    }
}
.status {
    font-size: 16px;
    text-transform: uppercase;
    padding: 15px 20px;
    background-color: var(--grey);
    color: var(--black);
    border: 2px solid var(--grey-dark);
    border-radius: 10px;
}
.toggle-block__open__btn {
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    &::after {
        content: '\25BC';
        color: var(--black);
        font-size: 10px;
        line-height: 1;
        position: relative;
        top: 2px;
    }
    span {
        white-space: nowrap;
        text-decoration: underline;
        margin-right: 3px;
    }
    &:hover {
        span {
            text-decoration: none;
            color: var(--black)
        }
    }
}
.toggle-block {
    &.is-open {
        .toggle-block__content {
            display: block;
        }
        .toggle-block__open__btn {
            &::after {
                transform: rotate(180deg);
                top: 0;
            }
        }
    }
}
.toggle-block__content {
    display: none;
}
.toggle-block__content__data {
    &__graph {
        width: 400px;
        img {
            max-width: 100%;
        }
    }
}
.data__descr__list {
    margin-top: 10px;
    li {
        margin-bottom: 5px;
        ul {
            padding-left: 1em;
            margin-top: 5px;
        }
    }
    .icon {
        width: 1em;
        height: 1em;
        img {
            width: 0.65em;
            height: 0.65em;
        }
    }
}
.open-link {
    display: inline-flex;
    align-items: center;
    border: 2px solid var(--border-color);
    padding: 10px 30px;
    white-space: nowrap;
    border-radius: 10px;
    font-size: 18px;
    &::after {
        content: '';
        width: 1em;
        height: 1em;
        flex: none;
        background: url('../img/link-arrow.svg') center no-repeat;
        background-size: contain;
        margin-left: 5px;
    }
    &:hover {
        border-color: var(--black);
        color: var(--black)
    }
}
.social {
    width: 53px;
    height: 53px;
    border: 2px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }
    &:hover {
        border-color: var(--black);
    }
}
.link-block {
    a {
        display: inline-block;
        vertical-align: bottom;
        max-width: 380px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
}