/*Header*/ 
.header {
    padding: 15px 0;
}
.id-block {
    display: flex;
    &__item {
        flex: none;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border: 2px solid var(--grey);
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}