:root {
  --grey: #e6e6e6;
  --grey-dark: #808080;
  --grey-darken: #4d4d4d;
  --grey-light: #f7f7f7;
  --black: #1a1a1a;
  --border-color: #e6e6e6;
}
html,
body {
  min-height: 100%;
}
html {
  font-size: 16px;
}
body {
  background-color: #fff;
  color: var(--grey-dark);
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
}
img {
  max-width: 100%;
}
a {
  color: currentColor;
  transition: all 0.2s;
}
h1,
.h1 {
  font-size: 36px;
}
h2,
.h2 {
  font-size: 30px;
}
h3,
.h3 {
  font-size: 24px;
}
h4,
.h4 {
  font-size: 20px;
}
h5, .h5 {
	font-size: 18px;
}
p {
	line-height: 1.3;
}
b,
strong {
  font-weight: 700;
}
.text-center {
  text-align: center;
}
.text-uppercase {
  text-transform: uppercase;
}
.black {
  color: var(--black);
}
.grey {
  color: var(--grey);
}
.grey-light {
  color: var(--grey-light);
}
.grey-dark {
  color: var(--grey-dark);
}
.grey-darken {
  color: var(--grey-darken);
}
b {
  font-weight: 700;
}
.wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.container {
  padding: 0 15px;
  width: 100%;
}
.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-end {
	justify-content: flex-end;
  }
.justify-between {
  justify-content: space-between;
}
.justify-around {
	justify-content: space-around;
  }
.mb-1 {
  margin-bottom: 10px;
}
.mb-2 {
  margin-bottom: 20px;
}
.mb-3 {
  margin-bottom: 30px;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}
.mr-1 {
	margin-right: 10px;
}
.mr-2 {
	margin-right: 20px;
}
.ml-1 {
	margin-left: 10px;
}
.ml-2 {
	margin-left: 20px;
}
.p-0 {
  padding: 0 !important;
}
.p-1 {
  padding: 10px;
}
.p-2 {
  padding: 20px;
}
.p-3 {
  padding: 30px;
}
.pt-1 {
	padding-top: 10px;
}
.fz-12 {
  font-size: 12px;
}
.text-right {
  text-align: right;
}
.text-underline {
  text-decoration: underline;
}
.border {
  border: 1px solid var(--border-color);
}
.border-radius {
  border-radius: 15px;
}
.border-circle {
  border-radius: 50%;
}
.border-bottom-dasshed {
	border-bottom: 2px dashed var(--border-color);
}
.border-bottom {
	border-bottom: 1px solid var(--border-color);
}
.border-top {
	border-top: 1px solid var(--border-color);
}
.bg-white {
  background-color: #fff;
}
.bg-grey {
  background-color: var(--grey-light);
}
